{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title></title>

    <style>
        .carousel-item {
            width: 1500px;
        }

        body,
        nav {
            background-color: #FFFAFA;
        }

        #t1 {
            width: 100%;
            text-align: center;
            color: white;
            background-color: red;
            height: 300px;
        }

        #t2 {
            width: 100%;
            text-align: center;
            color: white;
            background-color: red;
            height: 300px;
        }

        th,
        td {
            padding: 15px;
        }

        .rounded-image {
            border-radius: 50%;
        }
    </style>

</head>

<body class="bg-cyan">
    <!-- navbar inicio -->
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <img style="margin-left: 100px;" src="{% static 'img/logo.jpg' %}" width="180px" alt=""
                class="rounded-image">
            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarTogglerDemo02">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link active" aria-current="page" href="{% url 'index' %}">
                            <h5>Principal</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link active" aria-current="page" href="{% url 'junte' %}">
                            <h5>Junte-se á causa</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link active" aria-current="page" href="{% url 'apoio' %}">
                            <h5>Solicitar apoio</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link active" aria-current="page" href="{% url 'parceiros' %}">
                            <h5>Parceiros</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link active" aria-current="page" href="{% url 'sobre' %}">
                            <h5>Sobre nós</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <button style="margin-left: 20PX;" type="button" class="btn btn-danger btn-lg">QUERO
                            DOAR</button>
                    </li>
                </ul>
            </div>
            <button style="margin-right: 100px;" type="button" class="btn btn-primary btn-lg">JÁ SOU CADASTRADO</button>
        </div>
    </nav>
    <!-- navbar fim -->
    <br>
    <div class="container d-flex justify-content-center">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/carrossel1.png' %}" class="d-flex w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/carrossel2.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/carrossel3.png' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <br>
    <table id="t1">
        <tr>
            <th>
                <h4>12.58 milhões TONELADAS DE ALIMENTOS</h4>
                <h4>SÃO DESPERDIÇADOS POR ANO NO BRASIL.</h4>
            </th>

            <th>
                <h4>125.2 milhões DE BRASILEIROS</h4>
                <h4>ESTÃO EM SITUAÇÃO DE INSEGURANÇA ALIMENTAR</h4>
            </th>

            <th>
                <h4>60 kg DE COMIDA SÃO DESPERDIÇADAS</h4>
                <h4>POR CADA BRASILEIRO POR ANO.</h4>
            </th>
        </tr>
        <tr>
            <td colspan="3">* Dados do relatório FAO de 2021 e Rede Brasileira de Pesquisa em Soberania e Segurança
                Alimentar e Nutricional (Rede PENSSAN)</td>
        </tr>
    </table>
    <br>
    <table id="t2">
        <tr>
            <th>
                <h4>12.58 milhões TONELADAS DE ALIMENTOS</h4>
                <h4>SÃO DESPERDIÇADOS POR ANO NO BRASIL.</h4>
            </th>

            <th>
                <h4>125.2 milhões DE BRASILEIROS</h4>
                <h4>ESTÃO EM SITUAÇÃO DE INSEGURANÇA ALIMENTAR</h4>
            </th>ss
        </tr>

    </table>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>