{% extends 'base.html' %}
{% block conteudo %}
{% load static %}

<body>
    <main>
        <div class="container">
            <div class="row justify-content-md-center" style="background-color:#F8F8FF;padding: 80px 0 80px 0;">
                <div class="col-md-6 text-center">
                    <h3>Quero me cadastrar!</h3><br>
                    <p>Sua disposição em apoiar nossa missão é verdadeiramente inspiradora</p>
                    <p>e valorizamos imensamente a confiança que você deposita em nós.</p>
                    <p>Cada doação que recebemos faz uma diferença significativa em nosso trabalho,</p>
                    <p>e sua contribuição terá um impacto positivo nas vidas daqueles que atendemos.</p>
                    <p><i>Seja bem-vindo à nossa família de apoiadores e saiba que sua doação fará a diferença.</i>
                    </p>
                    <br>
                    <a href="{% url 'cadastro_pf' %}">
                        <button type="button" class="btn"
                            style="margin: 0 20px;color: azure; background-color: #ff0000;">
                            Pessoa Fisica
                        </button>
                    </a>
                    <a href="{% url 'cadastro_pj' %}">
                        <button type="button" class="btn"
                            style="margin: 0 20px;color: azure; background-color: #ff0000;">
                            Pessoa Juridica ou Empresa
                        </button>
                    </a>
                </div>
                <div class="col-md-6 text-center mx-auto">
                    <h3>Já sou cadastrado!</h3><br>
                    <form action="{% url 'login'%}" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="email" class="col-md-2 col-form-label text-md-right"><b>USUÁRIO:</b></label>
                            <div class="col-md-8">
                                <input type="email" id="email" class="form-control" name="email" required autofocus
                                    placeholder="Insira seu email">
                            </div>
                        </div><br>
                        <div class="form-group row">
                            <label for="senha" class="col-md-2 col-form-label text-md-right"><b>SENHA:</b></label>
                            <div class="col-md-8">
                                <input type="password" id="senha" class="form-control" name="senha"
                                    placeholder="Insira sua senha" required autofocus>
                            </div>
                        </div><br>
                        <div class="form-group row">
                            <div class="col-md-7 text-md-left">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="remember"> Lembrar-me
                                    </label>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group row">
                            <div class="col-md-10 text-md-left">
                                <button type="submit" class="btn"
                                    style="margin: 0 20px;color: azure; background-color: #ff0000;">ENTRAR</button>
                    </form>
                    <a class="btn btn-link" id="esqueceuSenhaBtn">Esqueceu sua senha?</a>
                </div>
            </div>

        </div>

        <br>
        </div>
        </div>
        </div>
    </main>

    {% endblock %}