{% extends 'base.html' %}
{% block conteudo %}
{% load static %}

<main>

	<div class="container">
		<div class="row justify-content-center">
			<h1 class="text-center">Empresas Parceiras do Prato Sustentável</h1>
			<br><br><br>
			<div class="card" style="width: 18rem; margin: 20px;">
				<img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Empresa Parceira</h5>
					<p class="card-text">A empresa comprometida com a responsabilidade social, dedicou-se a uma
						iniciativa significativa doando alimentos essenciais.</p>
					<a href="https://www.google.com.br/maps/preview"
						class="btn btn-primary stretched-link">LOCALIZAÇÃO</a>
				</div>
			</div>

			<div class="card" style="width: 18rem; margin: 20px;">
				<img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Empresa Parceira</h5>
					<p class="card-text">A empresa comprometida com a responsabilidade social, dedicou-se a uma
						iniciativa significativa doando alimentos essenciais.</p>
					<a href="https://www.google.com.br/maps/preview"
						class="btn btn-primary stretched-link">LOCALIZAÇÃO</a>
				</div>
			</div>

			<div class="card" style="width: 18rem; margin: 20px;">
				<img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Empresa Parceira</h5>
					<p class="card-text">A empresa comprometida com a responsabilidade social, dedicou-se a uma
						iniciativa significativa doando alimentos essenciais.</p>
					<a href="https://www.google.com.br/maps/preview"
						class="btn btn-primary stretched-link">LOCALIZAÇÃO</a>
				</div>
			</div>
			<div class="card" style="width: 18rem; margin: 20px;">
				<img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Empresa Parceira</h5>
					<p class="card-text">A empresa comprometida com a responsabilidade social, dedicou-se a uma
						iniciativa significativa doando alimentos essenciais.</p>
					<a href="https://www.google.com.br/maps/preview"
						class="btn btn-primary stretched-link">LOCALIZAÇÃO</a>
				</div>
			</div><br>
			<div class="card" style="width: 18rem; margin: 20px;">
				<img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Empresa Parceira</h5>
					<p class="card-text">A empresa comprometida com a responsabilidade social, dedicou-se a uma
						iniciativa significativa doando alimentos essenciais.</p>
					<a href="https://www.google.com.br/maps/preview"
						class="btn btn-primary stretched-link">LOCALIZAÇÃO</a>
				</div>
			</div>
			<div class="card" style="width: 18rem; margin: 20px;">
				<img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Empresa Parceira</h5>
					<p class="card-text">A empresa comprometida com a responsabilidade social, dedicou-se a uma
						iniciativa significativa doando alimentos essenciais.</p>
					<a href="https://www.google.com.br/maps/preview"
						class="btn btn-primary stretched-link">LOCALIZAÇÃO</a>
				</div>
			</div>
			<div class="card" style="width: 18rem; margin: 20px;">
				<img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Empresa Parceira</h5>
					<p class="card-text">A empresa comprometida com a responsabilidade social, dedicou-se a uma
						iniciativa significativa doando alimentos essenciais.</p>
					<a href="https://www.google.com.br/maps/preview"
						class="btn btn-primary stretched-link">LOCALIZAÇÃO</a>
				</div>
			</div>
			<div class="card" style="width: 18rem; margin: 20px;">
				<img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Empresa Parceira</h5>
					<p class="card-text">A empresa comprometida com a responsabilidade social, dedicou-se a uma
						iniciativa significativa doando alimentos essenciais.</p>
					<a href="https://www.google.com.br/maps/preview"
						class="btn btn-primary stretched-link">LOCALIZAÇÃO</a>
				</div>
			</div>
		</div>
	</div>





</main>

{% endblock %}