{% extends 'base2.html' %}
{% block conteudo %}
{% load static %}

<main>

    <div id="form1">
        <form class="row g-1 align-items-center d-flex text-center" action="{% url 'pfupdate' pessoas.id %}"
            method="POST">
            {%csrf_token %}
            <div class="form-group text-center">
                <img src="{% static 'img/usuario.png' %}" alt="Ícone de pessoa física"
                    style="display: inline-block; width: 150px;">
                <h2 style="display: inline-block; margin-left: 10px;">Alteração de Cadastro:</h2>
            </div><br><hr><br>
            <h4 class="text-center">Dados de Usuário:</h4>
            <div class="form-group">
                <label for="nome"><b><br>Nome completo</b></label>
                <input style="width: 500px ;" type="text" value="{{ pessoas.nome }}">
                </div><br><br>
                <div class="form-group">
                    <label for="endereco"><b>Endereço</b></label>
                    <input style="width: 423px ;" type="text" name="endereco" value="{{ pessoas.endereco }}">

                    <label for="numero"><b>Número</b></label>
                    <input style="width: 60px ;" type="text" name="numero" placeholder="{{ pessoas.numero }}">
                </div><br><br>

                <div class="form-group">
                    <label for="bairro"><b>Bairro</b></label>
                    <input style="width: 204px ;" type="text" name="bairro" value="{{ pessoas.bairro }}">

                    <label for="cidade"><b>Cidade</b></label>
                    <input style="width: 204px ;" type="text" name="cidade" value="{{ pessoas.cidade }}">

                    <label for="estado"><b>Estado</b></label>
                    <select style="width: 50px ;" type="text" name="estado" value="{{ pessoas.estado }}">
                        <option value=""></option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                </div><br><br>

                <div class="form-group">
                    <label for="celular"><b>Telefone</b></label>
                    <input style="width: 248px ;" type="tel" id="celular" name="celular"
                        value="{{ pessoas.celular }}">


                    <label for="telefone"><b>Celular</b></label>
                    <input style="width: 248px ;" type="tel" id="telefone" name="telefone"
                        value="{{ pessoas.telefone }}">


                </div><br><br>

                <div class="form-group text-center">
                    <br><br><button type="submit" class="btn btn-danger"
                        >ALTERAR</button>
                        <a href="{% url 'doacao_info' %}"> <button type="button" class="btn btn-danger">VOLTAR</button></a>
                </div>
        </form>

    </div>
</main>


{% endblock %}