{% extends 'base.html' %}
{% block conteudo %}
{% load static %}

<main>
	<div class="container">
		<div class="row justify-content-md-center" style="background-color:#F8F8FF; padding: 80px 0 80px 0;">
			<h1 class="text-center">Projeto-Interdisciplinar - 3º Semestre - 2023 <br>
				ODS 2 - Fome Zero e Agricultura Sustentável <br><br></h1>

			<h4>Equipe:</h4><br><br>
			<p>CARLA CRISTINA JUSTINO PEREIRA DA SILVA | <a href="https://github.com/cahjustino"><i>GitHub</i></a>
			</p><br>
			<p>CARLOS ARMINDO DEGASPERI | <a href="https://github.com/CarlosDegasperi"><i>GitHub</i></a></p> <br>
			<p>CHIARA MANEO | <a href="https://github.com/ChiaraManeo"><i>GitHub</i></a></p> <br>
			<p>DANIEL DE GODOY CAROLINO | <a href="https://github.com/DanielCarolino89"><i>GitHub</i></a></p><br>

			<h4>Projeto:</h4><br><br>
			<p>Consite em um sistema para esses mercados, num primeiro momento,</p>
			<p>informar a nossa plataforma dos produtos que estão próximos dos dados de validade e estão disponíveis
				a "doação".</p>
			<p>e por outro lado, um órgão público ou autárquico, contempla esta “oferta” e agenda a coleta desses
				alimentos.</p>

			<p>Para os varejistas é um ótimo negócio, pois não precisarão dispor de eficiência para realizar o
				descarte de produtos que não serão comercializados,</p>
			<p>economizando tempo e recurso neste processo.</p>

			<p>Para o serviço público é uma excelente fonte de alimentos a baixíssimo custo,</p>
			<p>que serão utilizados para suprir as necessidades diárias de assistência social ou até mesmo ampliadas
			</p><br>

			<h4>Desenvolvimento - Disciplinas e Professores</h4><br><br>
			<p>Desenvolvimento Web III - Django Professor: ORLANDO SARAIVA JÚNIOR</p><br>
			<p>Banco de Dados - Não relacional - MongoDB Professor: THIAGO GONÇALVES MENDES</p><br>
			<p>Gestão Ágil de Projetos de Software - Trello Professor: RENATO CIVIDINI MATTHIESEN</p><br>
		</div>
	</div>
</main>

{% endblock %}