{% extends 'base2.html' %}
{% block conteudo %}
{% load static %}
    
    <main>
        <div id="form1">
            <form class="row g-1 align-items-center d-flex text-center" action="{% url 'usuario_editar' user.id %}" method="POST">
                <br>
                <h4 style="color: red;">Descricão do Usuário:</h4>
                <h5 style="color: red;">Usuário: {{ user.username }} <br> Email: {{ user.email }} <br></h5>
                <br><br><hr><br>
                {%csrf_token %}
                <h3>Alteração de dados de login do usuário</h3>
                <div class="col-md-3 mb-4">
                    <label class="form-label">username</label>
                    <input type="text" class="form-control" name="username" placeholder="{{ user.username }}" required>
                </div>
                <div class="col-md-3 mb-4">
                    <label class="form-label">EMAIL</label>
                    <input type="email" class="form-control" name="email" placeholder="{{ user.email }}" required>
                </div>
                <div class="col-md-3 mb-4">
                    <label class="form-label">senha</label>
                    <input type="password" class="form-control" name="password" placeholder="Digite a nova senha" required>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-danger">ALTERAR</button>
                   <a href="{% url 'doacao_info' %}"> <button type="button"   class="btn btn-danger">VOLTAR</button></a>
                </div>

            </form>
            <br>
            <hr><br>
        </div>
    </main>

{% endblock %}