{% extends 'base2.html' %}
{% block conteudo %}
{% load static %}

<main>
    <div class="container" style="width: 100%;">
        <div class="row justify-content-md-center">
            <div class="col-md-6 info">
                <form action="{% url 'dcsalvar' %}" method="POST">
                    {% csrf_token %}
                    <hr><br>
                    <h4 class="text-center">Cadastrar de Itens para doação:</h4><br>
                    <div class="form-group">
                        <label for="item"><b>ITEM:</b></label>
                        <select style="width: 405px;" type="text" id="item" name="item" value="item" required>
                            <option value=""></option>
                            <option value="Cesta Basica Pequena">Cesta Básica Pequena</option>
                            <option value="Cesta Basica Media">Cesta Básica Média</option>
                            <option value="Cesta Basica Grande">Cesta Básica Grande</option>
                            <option value="Cesta Basica Natal">Cesta Básica Natal</option>
                        </select>
                    </div><br>
                    <div class="form-group">
                        <label for="quantidade"><b>Selecione a quantidade:</b></label>
                        <input style="width: 93px;" type="number" id="quantidade" name="quantidade" placeholder="0" required>

                        <button type="submit" class="btn"
                            style="margin: 0 20px;color: azure; background-color: #ff0000;">Selecionar</button>
                    </div><br>
                    
                </form><hr><br>
                <div class="form-group inline-block">
                    <b>Doar outros tipos de alimentos:</b>
                    <a href="{% url 'usuario_cad_doacao' %}" class="btn"
                        style="margin: 0 20px;color: azure; background-color: #ff0000;">Selecionar</a>
                        <p><i>Obs: Alimentos devem estar bons para consumo e dentro do prazo de válidade</i></p> 
                </div><br><hr><br>
            </div>
        </div>
    </div>




    <hr>

    </div>
    </div>
    </div>
</main>
{% endblock %}