{% extends 'base2.html' %}
{% block conteudo %}
{% load static %}

<main>
    <table class="table table-striped table-bordered table-responsive text-center" style="margin: 10px;">
        <tr>
            <th>
                DIA DOADO
            </th>
            <th>
                ITEM
            </th>
            <th>
                QUANTIDADE
            </th>
            <th>
                PESO
            </th>
            <th>
                VALIDADE
            </th>
            <th>
                OPÇÕES
            </th>
        </tr>
        {% for doacoes in doacoes %}
            <tr>
                <td>{{ doacoes.dia }}</td>
                <td>{{ doacoes.item }}</td>
                <td>{{ doacoes.quantidade }}</td>
                <td>{{ doacoes.peso }}</td>
                <td>{{ doacoes.validade }}</td>
    
                <td><a href=""><img src="{% static 'img/editar.png' %}" width="30px" style="margin: 0 5px;" ></a>
                    <a href=""><img src="{% static 'img/excluir.png' %}" width="30px" style="margin: 0 5px;"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
</main>

{% endblock %}